:root {
  --branding-color: #EEECE8;
  --branding-secundary-color: #c6bfb2;
  --soft-color: rgba(198, 191, 178, 0.2);
  --dark-color: #a69b87;
  --heading-font-family: 'Italiana', serif;
    --default-font-family: 'Roboto', sans-serif;
}



h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 60px;
  line-height: 100px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
}

h3 {
    font-family: var(--heading-font-family);
    font-size: 25px;
}

p {
  font-family: var(--default-font-family);
  font-size: 12px;
  line-height: 18px;
}

.container-projects {
padding: 30px 40px;
}

/* Home page */

.hero {
  margin: 0 auto;
  text-align: center;
  padding: 100px 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/071/872/original/background_.png?1678901927");
  background-size: cover;
}

.hero h1 {
  letter-spacing: 3px;
}

.hero p {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 27px;
}

.hero h2 {
  font-size: 20px;
}

.hero h3 {
font-family: var(--default-font-family);
letter-spacing: 3px;
line-height: 15px;
font-size: 10px;
}

.project-wrapper {
  background: var(--branding-color);
}


/* Main button */

.btn-branding {
  background: var(--branding-color);
  font-size: 12px;
  font-family: var(--default-font-family);
  letter-spacing: 2px;
  padding: 10px 15px;
  color: black;
  border-radius: 1px;
}

.btn-branding:hover {
 background: var(--branding-secundary-color);
 color: #ffffff;
}

/* Button light */

.btn-light {
    font-size: 10px;
    text-transform: uppercase;
    background-color: white;
    font-family: var(--default-font-family);
    line-height: 20px;
    color: var(--dark-color);
    border: solid 1px var(--branding-secundary-color);
    border-radius: 2px;
    padding: 7px 15px;
    letter-spacing: 2px;
}

.btn-light:hover {
  background: var(--branding-secundary-color);
  color: white;
}

#button-light {
    background: var(--branding-color);
    border: none;
    border-radius: 1;
    padding: 12px 25px;
}

#button-light:hover {
  background: var(--branding-secundary-color);
  color: var(--branding-color);
}



#description {
  font-family: var(--default-font-family);
}

.projects-title {
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  letter-spacing: 4px;
  background: var(--soft-color);
  padding: 40px;
}

.container-projects h3 {
  font-family: var(--heading-font-family);
  color: var(--dark-color);
  font-size: 25px;

}

.content-container {
  padding: 80px 40px;
}


.content h1 {
  line-height: 60px;
  font-size: 55px;
}

.content h2 {
    font-size: 14px;
}


.content h3 {
  font-size: 25px;
}

.content {
  margin: 10px 30px;
}


/* Work page */

.projects-grid p {
  font-family: var(--default-font-family);
}


#heading-work {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 100px;
}

#featured-projects-work {
  font-family: var(--default-font-family);
}

.work-with-me-container {
  background: var(--soft-color);
  padding: 35px;
  margin-top: 30px;
}

.work-with-me-container p {
  font-family: var(--default-font-family);
}

.work-with-me-container h2 {
  font-size: 40px;
  font-family: var(--heading-font-family);
}

.contact-container {
  background: var(--soft-color);
  padding: 35px;
  margin-top: 30px;
}

.contact-container p {
  font-family: var(--default-font-family);
  font-size: 12px;
}


.contact-container h2 {
  font-size: 3px;
  font-family: var(--heading-font-family);
}

.graphic-design-grid p {
  font-family: var(--default-font-family);
}

.graphic-design-grid h3 {
  font-family: var(--default-font-family);
  font-size: 13px;
  color: var(--dark-color);
  margin: 0;
}

#launch-button {
  padding: 3px 5px;
  font-size: 8px;
  letter-spacing: 3px;

}

/* Contact page */

.social a{
  font-size: 20px;
}

.social a:hover{
  background: none;
    color: #a69b87;
    font-size: 25px; 
  }

a {
  text-decoration: none;
  color: #a69b87;
}

a:hover {
background: #ffffff;
color: #a69b87;
}

#portfolio-button {
  padding: 5px 7px;
  font-size: 8px;
}

.active {
  color: var(--dark-color) !important;
}

.navbar {
  background: var(--branding-secundary-color) !important;
  padding: 20px 0;
}

.navbar-nav {
  font-family: var(--default-font-family);
  letter-spacing: 1px;
  line-height: 25px;
  
}

.nav-item {
  padding: 0 10px;
}

.nav-item .active {
  color: var(--branding-color) !important;
}

.nav-item a:hover {
  background: none;
}

.logo {
  max-height: 50px;
}

.logo-bigger {
  max-height: 200px;
}



@media (max-width: 800px) {

  h1 {
    font-size: 45px;
    line-height: 56px;
  }
    
    h2 {
      font-size: 14px;
    }

    h3 {
  font-size: 25px;
    }


    .btn-branding {
      border-radius: 2px;
      padding: 10px 17px;
      font-size: 10px;
    }

    .btn-light {
        font-size: 9px;
        border-radius: 2px;
        padding: 4px 15px;
        }

    .project-description {
      padding: 0;
      text-align: center;
    }

        .container-projects h3 {
          font-family: var(--heading-font-family);
          color: var(--dark-color);
          font-size: 16px;
    
        }

    .content {
      text-align: center;

}

.content-container {
  text-align: center;
}

.work-with-me-container {
  text-align: center;
  padding: 20px;
}

.work-with-me-container h2 {
 font-size: 25px;
}

#work-with-me-button {
  font-size: 8px;
  padding: 5px 10px;
}

#portfolio-button {
  font-size: 9px;
  padding: 5px 20px;
  letter-spacing: 0px;
}

.contact-container {
  text-align: center;
  padding: 20px;

}

.logo-bigger {
  max-height: 100px;
}

}