:root {
  --branding-color: #EEECE8;
  --branding-secundary-color: #c6bfb2;
  --soft-color: rgba(198, 191, 178, 0.2);
  --dark-color: #a69b87;
  --heading-font-family: 'Italiana', serif;
    --default-font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
}

h3 {
    font-family: var(--heading-font-family);
    font-size: 25px;
}

p {
  font-family: var(--heading-font-family);
  font-size: 12px;
  line-height: 18px;
}


.hero {
  margin: 0 auto;
  text-align: center;
  padding: 160px 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/071/872/original/background_.png?1678901927");
  background-size: cover;
 
}


.hero p {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 27px;
}


.hero h2 {
  font-size: 20px;
}

.project-wrapper {
  background: var(--branding-color);
}

.btn-branding {
  background: var(--branding-color);
  font-size: 24px;
  font-family: var(--heading-font-family);
  letter-spacing: 3px;
  font-weight: bold;
  color: black;
  border-radius: 2px;
  padding: 10px 30px;
}


.btn-branding:hover {
 background: var(--branding-secundary-color);
 color: #ffffff;
}


.btn-light {
    font-size: 10px;
    text-transform: uppercase;
    background-color: white;
    font-family: var(--default-font-family);
    line-height: 20px;
    color: var(--dark-color);
    border: solid 1px var(--branding-secundary-color);
    border-radius: 2px;
    padding: 7px 15px;
    letter-spacing: 2px;
}

.btn-light:hover {
  background: var(--branding-secundary-color);
  color: white;
}

#button-light {
    background: var(--branding-color);
    border: none;
    border-radius: 1;
    padding: 12px 25px;
}

#button-light:hover {
  background: var(--branding-secundary-color);
  color: var(--branding-color);
}


.project-description {
  padding: 120px 60px;
}

#description {
  font-family: var(--default-font-family);
}

.projects-title {
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  letter-spacing: 4px;
  background: var(--soft-color);
  padding: 40px;
}


.about-section {
  padding: 100px 60px;
}


.about-section h1 {
  line-height: 80px;
  font-size: 55px;
}

.about-section h2 {
    font-size: 14px;
}


.about-section p {
  font-size: 11px;
}

.about-section-content {
  margin: 30px;
}

#work-with-me-button {
  font-size: 8px;
  padding: 5px 22px;
}


@media (max-width: 800px) {

  h1 {
    font-size: 50px;
    line-height: 56px;
  }

    .hero p {
      font-weight: bold;
      font-size: 20px;
    }
    
    .hero h2 {
      font-size: 14px;
    }

    .hero{
      padding: 80px 20px;    
    }

    .btn-branding {
      border-radius: 4px;
      padding: 12px 40px;
      font-size: 16px;
    }

    .btn-light {
        font-size: 9px;
        border-radius: 2px;
        padding: 4px 15px;
        }

    .project-description {
      padding: 0;
      text-align: center;
    }

    .about-section {
      text-align: center;

}


}