:root {
  --branding-color: #EEECE8;
  --branding-secundary-color: #c6bfb2;
  --soft-color: rgba(234, 224, 211, 0.3);
  --dark-color: #a69b87;
  --heading-font-family: 'Aboreto', cursive;
  --default-font-family: 'Baskervville', serif;
  --secondary-font-family: 'Jost', sans-serif;
}


h1 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  line-height: 80px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
}

h3 {
    font-family: var(--secondary-font-family);
    font-size: 20px;
}

p {
  font-family: var(--default-font-family);
  font-size: 12px !important;
  line-height: 18px;
}


/* Home page */

.hero {
  margin: 0 auto;
  text-align: center;
  padding: 150px 20px;
  background-image: url(/images/bg2.png);
  background-size: cover;
}

.hero h1 {
  letter-spacing: 2px;
}

.hero h3 {
font-family: var(--default-font-family);
letter-spacing: 3px;
font-style: italic;
line-height: 15px;
font-size: 12px;
}

.project-wrapper {
  background: var(--branding-color);
}


/* About page */

.about-subheading {
  font-family: var(--secondary-font-family);
}

.contact-box {
  background: var(--soft-color);
  padding: 20px 50px;
  margin: 20px auto;
}

.contact-box h2 {
  font-family: var(--heading-font-family);
  line-height: 22px !important;
  font-size: 22px !important;
}

.contact-box p {
  font-family: var(--default-font-family);
  line-height: 15px;
}



/* Contact button */

#contact-button {
  font-family: var(--heading-font-family);
  font-size: 10px !important;
  letter-spacing: 2px;
  padding: 15px 22px !important;
  font-size: 9px;
  color: #000000;
  border-radius: 2px !important;
  background: var(--soft-color);
  transition: all 150ms ease-in-out;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}

#contact-button:hover {
  transform: scale(1.1) !important;
  border-radius: 2px !important; 
  border: none; 
  background: var(--dark-color);
  color: var(--branding-color);
}

.portfolio-link {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 10px;

}

/* Button light */

.btn-light {
    font-size: 8px !important;
    text-transform: uppercase;
    background-color: white;
    font-family: var(--secondary-font-family);
    color: var(--dark-color);
    padding: 8px !important;
    border-radius:0% !important;
    border: solid 1px var(--branding-secundary-color);
    letter-spacing: 2px;
}

.btn-light:hover {
  background: var(--branding-secundary-color);
  color: white;
}


#description {
  font-family: var(--default-font-family);
}


.content-container {
  padding: 50px 40px 10px 40px;
}

.content h1 {
  line-height: 60px;
  font-size: 45px;
}

.content h2 {
    font-size: 14px;
}


.content h3 {
  font-size: 25px;
}

.content {
  margin: 10px 30px;
}


/* Work page */

#heading-work {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
}

.featured-projects {
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--heading-font-family) !important;
  letter-spacing: 2px;
  background: var(--soft-color);
  padding: 20px;
}

.projects-grid h3,
.graphic-design-grid h3 {
  font-family: var(--secondary-font-family); 
  font-size: 14px !important; 
  color: var(--dark-color);
  margin: 0;
}

.projects-grid p,
.graphic-design-grid p {
  font-family: var(--default-font-family);
  font-size: 11px;
}

#featured-projects-work {
  font-family: var(--default-font-family);
}

#launch-button {
  font-family: var(--secondary-font-family);
  padding: 3px 5px;
  font-size: 8px;
  letter-spacing: 3px;

}


/* Contact page */

.contact-heading {
  font-family: var(--secondary-font-family);
}

.contact-container {
  background: var(--soft-color);
  padding: 30px;
  max-width: 700px;
}

.contact-container p {
  font-family: var(--default-font-family);
  font-size: 12px;
}


/* Contact page */

.social a{
  font-size: 20px;
}

.social a:hover{
  background: none;
    color: #a69b87;
    font-size: 25px; 
  }
  

a {
  text-decoration: none;
  color: #a69b87;
}

a:hover {
background: #ffffff;
color: #a69b87;
}

#portfolio-button {
  padding: 5px 7px;
  font-size: 8px;
}

.active {
  color: var(--dark-color) !important;
}

.navbar {
  background: var(--branding-secundary-color) !important;
  padding: 20px 0;
}

.navbar-nav {
  font-family: var(--secondary-font-family);
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 25px;
  
}

.nav-item {
  padding: 0 10px;
}

.nav-item .active {
  color: var(--branding-color) !important;
}

.nav-item a:hover {
  background: none;
}

.navbar a:hover {
  background: none;
}

.logo {
  max-height: 50px;
}

.logo-bigger {
  max-height: 200px;
}



footer {
  margin: 0px 30px;
}


footer p a {
  text-decoration: none;
  color: var(--branding-secundary-color);
  font-size: 13px;
  transition: all 150ms ease-in-out;
}

footer p a:hover {
  transform: scale(1.05);
  color: var(--dark-color);
}

footer .social-links a {
  margin: 0 5px;
  color: var(--branding-secundary-color);
  background: var(--soft-color);
  padding: 10px 15px;
  border-radius: 60px;
  font-size: 19px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--dark-color);
  transform: scale(1.1);
}

/* Media queries */

@media (max-width: 800px) {

  h1 {
    font-size: 45px;
    line-height: 56px;
  }
    
  h2 {
    font-size: 14px;
  }

  h3 {
  font-size: 25px;
  }
    
  p {
    font-size: 10px;
    }

  .contact-box #contact-button {
    padding: 8px;
    font-size: 8px;
    }

  #work-with-me-button {
    font-size: 8px;
    line-height: 9px;
  }

  
  .contact-box h2{
    font-size: 23px;
    line-height: 18px;
    }

  .btn-branding {
    padding: 10px 17px;
    font-size: 10px;
    }

  .btn-light {
    font-size: 9px;
    padding: 4px 15px;
    }

  .project-description {
    padding: 0;
    text-align: center;
    }

  .container-projects h3 {
    font-family: var(--heading-font-family);
    color: var(--dark-color);
    font-size: 16px;
    }

  .content {
    text-align: center;
    }



  .content-container {
    text-align: center;
    }

  .logo-bigger {
    max-height: 100px;
    }

  footer .social-links a {
    margin: 0 5px;
    color: var(--branding-secundary-color);
    background: var(--soft-color);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 15px;
    }

  footer .contact-box {
    padding: 20px 40px;
    }

}

/* ^^^^ Ending media queries */